<?xml version="1.0" encoding="utf-8"?>
<products xmlns="http://www.kaspersky.com/KLSRL/ISV">
  <product>
    <url>https://s3.amazonaws.com/lantern/lantern-installer-<VERSION>.exe</url>
  </product>
  <product>
    <url>https://s3.amazonaws.com/lantern/lantern-installer-<VERSION>-manoto.exe</url>
  </product>
</products>
