android/app/.cxx
libflashlight.aar
liblantern-*.aar
liblantern-*-sources.jar
local.properties
.gradle
.idea
.vscode
build/
libs/
obj/
lantern-mobile.iml
app.iml
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
# .vscode/

coverage
coverage/html/
coverage/lcov.info

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
flutter_app

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# vscode
.vscode/launch.json

gradle.properties.user
gradle.properties
*.apk
*.aab
*.bz2
*.sha256
version-qa*.txt
lantern-android-sources*.tar.gz
web*.pem
.gomobilecache
screenshots
profile.cov
appium_kotlin/app/src/test/resources/local/local_config.json

ios/internalsdk/Internalsdk.xcframework/
android/app/libs/liblantern-all.aar
liblantern.h
*.dylib
*.so
*.dmg
lib/generated_bindings.dart

*.env
ExportOptions.plist
