name: lantern
description: Lantern

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: '>=3.0.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter

  i18n_extension: ^7.0.0

  analyzer: ^5.6.0

  credit_card_validator: ^2.0.1

  provider: ^6.0.5

  protobuf: any

  google_fonts:

  flutter_switch: ^0.3.2

  flag: ^7.0.0

  qr_flutter: ^4.0.0

  qr_code_scanner: ^1.0.1

  loader_overlay: ^2.0.0

  audioplayers: ^3.0.1

  auto_route: ^5.0.4

  bot_toast: ^4.0.1

  stop_watch_timer: ^2.0.0

  uuid: ^3.0.3

  pedantic: ^1.11.0

  # wechat_assets_picker: ^6.0.1

  # wechat_camera_picker: ^2.3.0

  flutter_keyboard_visibility: ^5.4.0

  video_player: ^2.6.0

  flutter_svg: ^2.0.7

  hexcolor: ^3.0.1

  url_launcher: ^6.1.10

  fluttertoast: ^8.2.1

  # Use a fork of catcher since >=0.6.9 is incompatible with flutter_localizations
  # from sdk. See https://github.com/jhomlala/catcher/pull/234 for more details
  catcher:
    git:
      url: https://github.com/ThexXTURBOXx/catcher.git

  sentry: ^7.7.0

  badges: ^2.0.0-nullsafety.1

  dotted_border: ^2.0.0

  # Version 1.0.7 seems glitchy, so we're using 1.0.6 explicitly
  emoji_picker_flutter: ^1.6.1

  email_validator: ^2.1.17

  pin_code_text_field: ^1.8.0

  styled_text: ^4.0.0+1

  back_button_interceptor: ^6.0.2

  scrollable_positioned_list: ^0.3.8

  extended_image: ^8.0.2

  file_picker: ^5.2.6

  #  flutter_webrtc: ^0.9.20
  # Use our own fork of flutter_webrtc with more optimized audio quality settings
  # flutter_webrtc:
  #   git:
  #     url: https://github.com/getlantern/flutter-webrtc.git
  #     ref: 1bf2cd40af6e8b0c6180c937659051eb157c0a4e

  markdown: ^7.1.0

  flutter_markdown: ^0.6.8

  flutter_local_notifications: ^9.9.1

  http: ^0.13.5

  enum_to_string: ^2.0.1

  filesize: ^2.0.1

  dio: ^5.2.1+1

  path_provider: ^2.0.15

  permission_handler: ^10.2.0

  path: ^1.8.0

  infinite_scroll_pagination: ^3.2.0

  share_plus: ^6.3.1

  package_info_plus: ^4.0.2

  logger: ^1.3.0

  cached_network_image: ^3.2.3

  android_path_provider: ^0.3.0

  flutter_uploader: ^3.0.0-beta.3

  mime: ^1.0.4

  video_thumbnail: ^0.5.3

  flutter_pdfview: ^1.2.9

  wakelock: ^0.6.2
  google_mobile_ads: ^3.0.0
  clever_ads_solutions: ^0.0.6

# wakelock ^0.6.2 requires win32 ^2.0.0 or ^3.0.0
# See https://github.com/creativecreatorormaybenot/wakelock/issues/211
dependency_overrides:
  win32: 3.1.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter

  test: ^1.15.7
  mockito: ^5.0.12
  auto_route_generator: ^5.0.3
  build_runner: ^2.0.5

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  fonts:
    - family: RobotoMono
      fonts:
        - asset: assets/fonts/RobotoMono.ttf
    - family: Samim
      fonts:
        - asset: assets/fonts/Samim.ttf

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/
    - assets/images/
    - assets/images/countdown_stopwatch/
    - assets/locales/
    - assets/fonts/
    - assets/sounds/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
