<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.getlantern.lantern"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name="org.getlantern.lantern.LanternApp"
        android:hardwareAccelerated="true"
        tools:replace="allowBackup, label"
        android:allowBackup="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:persistent="true"
        android:icon="@drawable/lantern_icon"
        android:theme="@style/AppTheme"
        android:label="@string/app_name">

        <service
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false"
            android:name=".service.LanternService_">

        </service>

        <receiver
            android:name="org.getlantern.lantern.receiver.LanternBootReceiver"
            android:enabled="true"
            android:exported="true" >
          <intent-filter android:priority="500" >
            <action android:name="android.intent.action.BOOT_COMPLETED" />
          </intent-filter>
        </receiver>

        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:hardwareAccelerated="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light" />

        <activity
            android:name="org.getlantern.lantern.activity.Launcher"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.getlantern.lantern.activity.LanternFreeActivity"
            android:launchMode="singleTop"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="optly7925850924" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.getlantern.mobilesdk.activity.SettingsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ReportIssueActivity_"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.WebViewActivity_"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.PopUpAdActivity_"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.DesktopActivity_"
            android:screenOrientation="portrait"/>

        <activity
            android:name="org.getlantern.mobilesdk.activity.LanguageActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.UpdateActivity_"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Blank.Dialog">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.PrivacyDisclosureActivity_"
            android:screenOrientation="portrait"
            />

          <!-- It's required to update Lantern on API 24+ -->
          <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.getlantern.beam.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
              android:name="android.support.FILE_PROVIDER_PATHS"
              android:resource="@xml/file_paths" />
          </provider>

          <service android:name="org.getlantern.lantern.vpn.LanternVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>

        <receiver android:name="org.getlantern.lantern.model.Notify">
            <intent-filter>
                <action android:name="org.getlantern.lantern.intent.DATA_USAGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
        <meta-data android:name="google_analytics_ssaid_collection_enabled" android:value="false" />
    </application>
</manifest>
